<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- vendors -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/theme/material.min.css">
    <!-- app -->
    <link href="style.css" rel="stylesheet">
  </head>
  <body>

    <div id="app" class="fb-column" v-cloak>
      <header>
        <svg @click="showMenu = !showMenu" :class="{active: showMenu}" class="inline-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" enable-background="new 0 0 32 22.5" xml:space="preserve">
					<g class="svg-menu-toggle">
  					<path class="bar" d="M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z"></path>
  					<path class="bar" d="M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25 h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z"></path>
  					<path class="bar" d="M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z"></path>
            <rect width="24" height="30" fill="none"></rect><!-- needs to be here as a 'hit area' -->
					</g>
    		</svg>
        <span>Vue.js {{version}}</span>
        <a id="share" :href="shareUrl" target="_blank">share this example</a>
      </header>

      <div class="fb-row">
        <nav class="menu" :class="{showing: showMenu}">
          <ul>
            <li v-for="code, label in samples" :class="{active: label === selectedMenu}">
              <a :href="'#' + encodeURI(label)" @click="select(label)">
                {{label}}
              </a>
            </li>
          </ul>
        </nav>
        <div class="fb-grow"><!-- Vue HTML editor -->
          <code-mirror id="code" v-model="input"></code-mirror>
          <div id="error" v-show="error">{{error}}</div>
        </div>

        <div class="fb-grow"><!-- Compiled Javascript Render Functions -->
          <highlight id="output" :code="compiled"></highlight>
        </div>
      </div>
    </div>

    <!-- vendors -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.9/beautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/xml/xml.min.js"></script>
    <!-- app -->
    <script src="app.js"></script>
  </body>
</html>
