html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #333;
  color: white;
}
.fb-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.fb-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.fb-grow {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
}
#code {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.CodeMirror {
  flex-grow: 1;
}
pre {
  margin: 0;
}

html, body, #app, .fb-row {
  height: 100%;
}

#output {
  flex-grow: 1;
  background-color: #282c34;
}

#error {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: red;
  padding: 5px;
}

#error, textarea, code, .CodeMirror {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.menu {
  margin-left: -150px;
  width: 300px;

  transition: margin-left 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

nav.menu.showing {
  margin-left: 0;
}
[v-cloak] {
  display: none;
}

/* hamburger svg menu */

.svg-menu-toggle:hover {
  fill: #fff;
}

.svg-menu-toggle {
  fill: #ccc;
  pointer-events: all;
  cursor: pointer;
}
.svg-menu-toggle .bar {
  -webkit-transform: rotate(0) translateY(0) translateX(0);
  transform: rotate(0) translateY(0) translateX(0);
  opacity: 1;
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
}
.svg-menu-toggle .bar:nth-of-type(1) {
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
}
.svg-menu-toggle .bar:nth-of-type(3) {
  -webkit-transform-origin: 20px 20px;
  transform-origin: 20px 20px;
}

.active .svg-menu-toggle .bar:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translateY(0) translateX(0);
  transform: rotate(-45deg) translateY(0) translateX(0);
}
.active .svg-menu-toggle .bar:nth-of-type(2) {
  opacity: 0;
}
.active .svg-menu-toggle .bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translateY(0em) translateX(0em);
  transform: rotate(45deg) translateY(0em) translateX(0em);
}

.inline-svg {
  width: 30px;
}
