<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- vendors -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/theme/material.min.css">
  </head>
  <body>

    <div id="app" class="fb-column" v-cloak>
      <github-ribbon></github-ribbon>
      <header>
        <menu-toggler @click.native="showMenu = !showMenu" :class="{active: showMenu}"></menu-toggler>
        <!-- <a id="share" :href="shareUrl" target="_blank">share this example</a> -->
        <div>
          <button @click="share">share this example</button>
          <span v-show="shortUrl">
            <input type="text" :value="shortUrl" readonly @focus="$event.target.select()" style="width: 130px">
            <button>copy</button>
          </span>
        </div>
        <span id="version" :title="version">Vue.js {{vueVersion}}</span>
      </header>

      <div class="fb-row">
        <nav class="menu" :class="{showing: showMenu}">
          <ul>
            <li v-for="code, label in samples" :class="{active: label === selectedMenu}">
              <a :href="'#' + encodeURI(label)" @click="select(label)">
                {{label}}
              </a>
            </li>
          </ul>
        </nav>
        <div class="fb-grow"><!-- Vue HTML editor -->
          <code-mirror id="code" v-model="input"></code-mirror>
          <div id="error" v-show="error">{{error}}</div>
        </div>

        <div class="fb-grow"><!-- Compiled Javascript Render Functions -->
          <highlight id="output" :code="compiled"></highlight>
        </div>
      </div>
    </div>

    <!-- vendors -->
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.9/beautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.24.2/mode/xml/xml.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-183197-49', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
